{% extends "material/base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>
    .container,
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-wrapper {
        background: linear-gradient(to right, #650397, #FB9F04);
    }
</style>

<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" style="padding-left:2em;">Restaurant Host Portal</a>
    </div>
</nav>
<br>
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="container">
                <h5>Placeholder1</h5>
            </div>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#placeholder">Placeholder2</a></li>
                <!--  -->
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div class="container">
                <div id="placeholder">
                        <p class="flow-text">Placeholder3</p>
                        <!--  -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});
</script>
{% endblock %}